/******************************************************************************************************
 *                                              STRIPE DATA STYLE
 *                                 	 
 ******************************************************************************************************/

 
 #vbid-1fcb70c3-vxwksd8v.master.item-box    {
	padding-top: 0px;
	min-height: 546px;
}
 
 #vbid-3b3fa2c0-b4ooe5fe.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 817px;
}
 
 #vbid-3b3fa2c0-ocr0ep1c.master.item-box    {
	padding-top: 0px;
	min-height: 579px;
}
 
 #vbid-3b3fa2c0-lrk5u4ip.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 114px;
} 
 #vbid-3b3fa2c0-lrk5u4ip.item-box > .item-wrapper    {
	max-width: 1270px;
}
 
 #vbid-3b3fa2c0-w3eabdpc.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 417px;
}
 
 #vbid-3b3fa2c0-sbth6pxa.master.item-box    {
	padding-top: 0px;
	min-height: 579px;
}
 
 #vbid-3b3fa2c0-a7iautux.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 607px;
}
 
 #vbid-3b3fa2c0-zzx6xi4c.master.item-box    {
	padding-top: 70px;
	padding-bottom: 80px;
} 
 #vbid-3b3fa2c0-zzx6xi4c.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-3b3fa2c0-7esfqwwq.master.item-box    {
	padding-top: 0px;
	padding-bottom: 40px;
} 
 #vbid-3b3fa2c0-7esfqwwq.item-box > .item-wrapper    {
	max-width: 1000px;
}

 
 #vbid-3b3fa2c0-dppoxrnf.master.item-box    {
	padding-top: 60px;
	padding-bottom: 60px;
} 
 #vbid-3b3fa2c0-dppoxrnf.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-3b3fa2c0-yfxpoex5.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 468px;
}
 
 #vbid-3b3fa2c0-2mb5mvyq.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-3b3fa2c0-ynabsqbe.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 114px;
} 
 #vbid-3b3fa2c0-ynabsqbe.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-3b3fa2c0-juvjwbns.master.item-box    {
	padding-top: 70px;
	padding-bottom: 70px;
} 
 #vbid-3b3fa2c0-juvjwbns.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-3b3fa2c0-t6pqmru5.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 449px;
}
 
 #vbid-3b3fa2c0-5vcexcza.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 429px;
}