/******************************************************************************************************
 *                                              STRIPE DATA STYLE
 *                                 	 
 ******************************************************************************************************/

 
 #vbid-c9270435-5yb0a7a3.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 310px;
}
 
 #vbid-c9270435-roj1y8e7   {
	background-position: 50.5673980712891% 54.6576156616211%;
}
 
 #vbid-c9270435-q2nnf4ab.master.item-box    {
	padding-top: 0px;
	min-height: 503px;
} 
 #vbid-c9270435-q2nnf4ab.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-c9270435-ygh6azfb.master.item-box    {
	padding-top: 70px;
	padding-bottom: 70px;
	min-height: 202px;
} 
 #vbid-c9270435-ygh6azfb.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-c9270435-ezyiyjf0   {
	background-position: 45.6293716430664% 22.344690322876%;
}
 
 #vbid-c9270435-x0zdujr2.master.item-box    {
	min-height: 773px;
}
 
 #vbid-c9270435-gu39xprf.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 231px;
}
 
 #vbid-c9270435-vjf3atmb   {
	background-position: 43.6865196228027% 53.7792205810547%;
}
 
 #vbid-c9270435-gjlpgoab   {
	background-position: 54.0752334594727% 91.5584411621094%;
}
 
 #vbid-c9270435-sbqh22al.master.item-box    {
	min-height: 603px;
}
 
 #vbid-c9270435-jsnad13m   {
	background-position: 12.0986547470093% 42.2062797546387%;
}
 
 #vbid-c9270435-hac2ydpb   {
	background-position: 49.8955078125% 0.613496959209442%;
}
 
 #vbid-c9270435-jvcpbdvx   {
	background-size: contain;
}
 
 #vbid-c9270435-tsgz4hje   {
	background-position: 56.0606079101563% 100%;
}
 
 #vbid-c9270435-xmb4bdy7   {
	background-position: 53.9237670898438% 51.5926666259766%;
}
 
 #vbid-c9270435-twjp33az.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1343px;
}
 
 #vbid-c9270435-rijmqsri   {
	background-position: 48.6415901184082% 18.5064926147461%;
}
 
 #vbid-c9270435-fnh1uxvc.master.item-box    {
	min-height: 231px;
}
 
 #vbid-c9270435-awib9aao   {
	background-position: 44.2089881896973% 48.3110046386719%;
}
 
 #vbid-c9270435-mywlm1ly.master.item-box    {
	padding-top: 70px;
	padding-bottom: 70px;
} 
 #vbid-c9270435-mywlm1ly.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-c9270435-apciayuf.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 392px;
}
 
 #vbid-c9270435-t2zdjnbf.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 114px;
} 
 #vbid-c9270435-t2zdjnbf.item-box > .item-wrapper    {
	max-width: 1144px;
}
 
 #vbid-c9270435-ya4hbbj5   {
	background-position: 48.2062797546387% 23.9910316467285%;
}
 
 #vbid-c9270435-bs3pwgww.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1343px;
} 
 #vbid-c9270435-bs3pwgww.item-box > .item-wrapper    {
	max-width: 1416px;
}
 
 #vbid-c9270435-jm1vvxj3.master.item-box    {
	min-height: 231px;
}
 
 #vbid-c9270435-jrz18ogb.master.item-box    {
	padding-top: 70px;
	padding-bottom: 70px;
} 
 #vbid-c9270435-jrz18ogb.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-c9270435-epjpzfez.master.item-box    {
	min-height: 699px;
}
 
 #vbid-c9270435-rhmwuwjj.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 496px;
}
 
 #vbid-c9270435-hn6xplg3   {
	background-position: 23.3408069610596% 0%;
}
 
 #vbid-c9270435-nmf5zlo8.master.item-box    {
	padding-top: 70px;
	padding-bottom: 70px;
} 
 #vbid-c9270435-nmf5zlo8.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-c9270435-gat11t6g   {
	background-position: 46.8609848022461% 26.2973518371582%;
}
 
 #vbid-c9270435-4bcury42.master.item-box    {
	padding-top: 40px;
	padding-bottom: 40px;
} 
 #vbid-c9270435-4bcury42.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-c9270435-d111sdov.master.item-box    {
	padding-bottom: 0px;
	min-height: 883px;
} 
 #vbid-c9270435-d111sdov.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-c9270435-dpalpd08   {
	background-position: 47.9101371765137% 31.5561962127686%;
}
 
 #vbid-c9270435-rwwb10xu   {
	background-size: contain;
}
 
 #vbid-c9270435-6t9sjem4   {
	background-position: 51.3452911376953% 16.8316841125488%;
}
 
 #vbid-c9270435-i3bosy1v.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 357px;
}
 
 #vbid-c9270435-6d3cz9ek.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 688px;
}
 
 #vbid-c9270435-fphoym4z.master.item-box    {
	min-height: 386px;
}
 
 #vbid-c9270435-wvdzcqff.master.item-box    {
} 
 #vbid-c9270435-wvdzcqff.master.item-box    {
	min-height: 365px;
}
 
 #vbid-c9270435-cssyrjvq.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 682px;
}
 
 #vbid-c9270435-5zfuhnck   {
	background-size: 92%;
}
 
 #vbid-c9270435-aipqsxif   {
	background-position: 54.0358734130859% 100%;
}

 
 #vbid-c9270435-c0r0ebmg.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 51px;
}
 
 #vbid-c9270435-khnpmwmd.master.item-box    {
	padding-top: 60px;
	padding-bottom: 80px;
	min-height: 1343px;
} 
 #vbid-c9270435-khnpmwmd.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-c9270435-5ll7trcq.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 802px;
}
 
 #vbid-c9270435-vw8xfoud   {
	background-position: 41.9580421447754% 0%;
}
 
 #vbid-c9270435-z1b8aovu   {
	background-position: 51.7937202453613% 11.3861389160156%;
}
 
 #vbid-c9270435-e0aqmdug.master.item-box    {
	padding-top: 0px;
	padding-bottom: 35px;
	min-height: 1343px;
} 
 #vbid-c9270435-e0aqmdug.item-box > .item-wrapper    {
	max-width: 1168px;
}
 
 #vbid-c9270435-evjgva6r   {
	background-position: 48.4326019287109% 71.0374603271484%;
}
 
 #vbid-c9270435-apbynsio.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 257px;
}
 
 #vbid-c9270435-apir05qr   {
	background-position: 48.6415901184082% 26.6233768463135%;
}
 
 #vbid-c9270435-8cs5uqvg   {
	background-size: contain;
}
 
 #vbid-c9270435-rqetv1vs.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 296px;
}
 
 #vbid-b11ac1cf-zps9gal0.master.item-box    {
	padding-top: 40px;
	padding-bottom: 40px;
} 
 #vbid-b11ac1cf-zps9gal0.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-c9270435-nvv5ehhq.master.item-box    {
	padding-top: 70px;
	padding-bottom: 60px;
	min-height: 202px;
} 
 #vbid-c9270435-nvv5ehhq.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-c9270435-kc0uynir.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 114px;
} 
 #vbid-c9270435-kc0uynir.item-box > .item-wrapper    {
	max-width: 1270px;
}
 
 #vbid-c9270435-5zzm9lyv.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 114px;
} 
 #vbid-c9270435-5zzm9lyv.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-c9270435-bsbwqi9l   {
	background-position: 46.9696960449219% 89.3939361572266%;
}
 
 #vbid-c9270435-6agy0cg2   {
	background-position: 36.0986557006836% 48.3706703186035%;
}
 
 #vbid-c9270435-pqsayxx2.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 427px;
}
 
 #vbid-d3d9b5d0-n2wjdbjf.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 114px;
} 
 #vbid-d3d9b5d0-n2wjdbjf.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-c9270435-zsqy7xlx.master.item-box    {
	padding-top: 30px;
	padding-bottom: 30px;
	min-height: 1343px;
}
 
 #vbid-c9270435-iismtata   {
	background-position: 51.9258079528809% 44.8459205627441%;
}
 
 #vbid-c9270435-hinso8zg.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 114px;
} 
 #vbid-c9270435-hinso8zg.item-box > .item-wrapper    {
	max-width: 1144px;
}
 
 #vbid-c9270435-daczn1jw.master.item-box    {
	padding-top: 15px;
}
 
 #vbid-c9270435-xdve9xxa   {
	background-position: 50% 31.2688827514648%;
}
 
 #vbid-c9270435-j6yknzfy   {
	background-position: 51.8808784484863% 24.1324920654297%;
}