/******************************************************************************************************
 *                                              STRIPE DATA STYLE
 *                                 	 
 ******************************************************************************************************/

 
 #vbid-9c000-fqmqae3x.master.item-box    {
	padding-top: 70px;
	padding-bottom: 60px;
	min-height: 202px;
} 
 #vbid-9c000-fqmqae3x.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-9c000-n5o3eqw9.master.item-box    {
	padding-top: 40px;
	padding-bottom: 40px;
} 
 #vbid-9c000-n5o3eqw9.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-9c000-qqwajwwv.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 257px;
}
 
 #vbid-9c000-kqng7m3x   {
	background-position: 45.6293716430664% 22.344690322876%;
}
 
 #vbid-9c000-a4vkv3la.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 688px;
}
 
 #vbid-9c000-acyapwey   {
	background-position: 23.3408069610596% 0%;
}
 
 #vbid-9c000-90twxpdx.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 114px;
} 
 #vbid-9c000-90twxpdx.item-box > .item-wrapper    {
	max-width: 1270px;
}
 
 #vbid-9c000-zbj16udr.master.item-box    {
	padding-top: 70px;
	padding-bottom: 70px;
} 
 #vbid-9c000-zbj16udr.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-9c000-gxfmwz76   {
	background-position: 36.0986557006836% 48.3706703186035%;
}
 
 #vbid-9c000-krppazkh   {
	background-position: 48.2062797546387% 23.9910316467285%;
}
 
 #vbid-9c000-berkzcp4.master.item-box    {
	padding-top: 30px;
	padding-bottom: 30px;
	min-height: 1343px;
}

 
 #vbid-9c000-16nh9jts   {
	background-size: 92%;
}
 
 #vbid-9c000-js3t3y0n.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 802px;
}
 
 #vbid-9c000-ywmvfczq   {
	background-position: 56.0606079101563% 100%;
}
 
 #vbid-9c000-f0rdbofn.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 114px;
} 
 #vbid-9c000-f0rdbofn.item-box > .item-wrapper    {
	max-width: 1144px;
}
 
 #vbid-9c000-ihvy7qap.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 51px;
}
 
 #vbid-9c000-pndsejxz   {
	background-size: contain;
}
 
 #vbid-9c000-73ecppqs   {
	background-position: 51.9258079528809% 44.8459205627441%;
}
 
 #vbid-9c000-ytotnu29   {
	background-position: 43.6865196228027% 53.7792205810547%;
}
 
 #vbid-9c000-9wu1kbhh.master.item-box    {
	min-height: 386px;
}
 
 #vbid-9c000-pd2bsafb.master.item-box    {
	padding-top: 15px;
}
 
 #vbid-9c000-6popwl4w   {
	background-position: 41.9580421447754% 0%;
}
 
 #vbid-9c000-thfj5ahn.master.item-box    {
	min-height: 231px;
}
 
 #vbid-9c000-wj1etyet.master.item-box    {
	padding-top: 0px;
	min-height: 503px;
} 
 #vbid-9c000-wj1etyet.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-9c000-judghxy6.master.item-box    {
	padding-top: 70px;
	padding-bottom: 70px;
	min-height: 202px;
} 
 #vbid-9c000-judghxy6.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-9c000-jfazhabp   {
	background-position: 51.3452911376953% 16.8316841125488%;
}
 
 #vbid-9c000-bmd7lueb   {
	background-position: 48.6415901184082% 18.5064926147461%;
}
 
 #vbid-9c000-byfjuwzp.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 392px;
}
 
 #vbid-9c000-ajxmzdf7.master.item-box    {
	padding-top: 70px;
	padding-bottom: 70px;
} 
 #vbid-9c000-ajxmzdf7.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-9c000-onwcpxzc.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1343px;
}
 
 #vbid-9c000-7llbctfs.master.item-box    {
	min-height: 699px;
}
 
 #vbid-9c000-caoou19d   {
	background-position: 50.5673980712891% 54.6576156616211%;
}
 
 #vbid-9c000-xt6ucqyn   {
	background-size: contain;
}
 
 #vbid-9c000-0znsqhvk.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 427px;
}
 
 #vbid-9c000-7dlmkkj2.master.item-box    {
	padding-bottom: 0px;
	min-height: 883px;
} 
 #vbid-9c000-7dlmkkj2.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-9c000-b0pzhoz6.master.item-box    {
	padding-top: 60px;
	padding-bottom: 80px;
	min-height: 1343px;
} 
 #vbid-9c000-b0pzhoz6.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-9c000-4uk0fmta.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1343px;
} 
 #vbid-9c000-4uk0fmta.item-box > .item-wrapper    {
	max-width: 1416px;
}
 
 #vbid-9c000-2piamhlb   {
	background-position: 46.9696960449219% 89.3939361572266%;
}
 
 #vbid-9c000-lisvu7fl.master.item-box    {
} 
 #vbid-9c000-lisvu7fl.master.item-box    {
	min-height: 365px;
}
 
 #vbid-9c000-jhjevxel   {
	background-position: 54.0752334594727% 91.5584411621094%;
}
 
 #vbid-9c000-ecrycrm0.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 114px;
} 
 #vbid-9c000-ecrycrm0.item-box > .item-wrapper    {
	max-width: 1144px;
}
 
 #vbid-9c000-ansgemoj   {
	background-position: 51.7937202453613% 11.3861389160156%;
}
 
 #vbid-9c000-cbdblgij   {
	background-position: 48.6415901184082% 26.6233768463135%;
}
 
 #vbid-9c000-okkcg5fr.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 310px;
}
 
 #vbid-9c000-robzycac   {
	background-size: contain;
}
 
 #vbid-9c000-rkl5k6nw.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 231px;
}
 
 #vbid-9c000-a7ey9fkb.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 114px;
} 
 #vbid-9c000-a7ey9fkb.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-9c000-epuyhuma   {
	background-position: 44.2089881896973% 48.3110046386719%;
}
 
 #vbid-9c000-vabgsmmn.master.item-box    {
	padding-top: 70px;
	padding-bottom: 70px;
} 
 #vbid-9c000-vabgsmmn.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-9c000-pmislbij   {
	background-position: 54.0358734130859% 100%;
}
 
 #vbid-9c000-6arma835   {
	background-position: 53.9237670898438% 51.5926666259766%;
}
 
 #vbid-9c000-f6o6zllm   {
	background-position: 48.4326019287109% 71.0374603271484%;
}
 
 #vbid-9c000-ejbdldun   {
	background-position: 12.0986547470093% 42.2062797546387%;
}
 
 #vbid-9c000-r4bgqtjm.master.item-box    {
	min-height: 231px;
}
 
 #vbid-9c000-mtlxbev2.master.item-box    {
	padding-top: 0px;
	padding-bottom: 35px;
	min-height: 1343px;
} 
 #vbid-9c000-mtlxbev2.item-box > .item-wrapper    {
	max-width: 1168px;
}
 
 #vbid-9c000-vsfwr98z.master.item-box    {
	min-height: 603px;
}
 
 #vbid-9c000-zinxeeha   {
	background-position: 46.8609848022461% 26.2973518371582%;
}
 
 #vbid-9c000-jlohhqf3.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 296px;
}
 
 #vbid-9c000-fu9lcowr.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 496px;
}
 
 #vbid-9c000-wbg4pvbo   {
	background-position: 51.8808784484863% 24.1324920654297%;
}
 
 #vbid-9c000-gnrcvywc.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 114px;
} 
 #vbid-9c000-gnrcvywc.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-9c000-nlrigyj6   {
	background-position: 47.9101371765137% 31.5561962127686%;
}
 
 #vbid-9c000-x1d4053c.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 682px;
}
 
 #vbid-9c000-8xcxwdls.master.item-box    {
	min-height: 773px;
}
 
 #vbid-9c000-ygpmvnjs.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 357px;
}
 
 #vbid-9c000-mpyta71x.master.item-box    {
	padding-top: 40px;
	padding-bottom: 40px;
} 
 #vbid-9c000-mpyta71x.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-9c000-2wyrqbsj   {
	background-position: 49.8955078125% 0.613496959209442%;
}
 
 #vbid-9c000-keoplxwc   {
	background-position: 50% 31.2688827514648%;
}