/******************************************************************************************************
 *                                              STRIPE DATA STYLE
 *                                 	 
 ******************************************************************************************************/

 
 #vbid-9c000-xg5nlobh.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 417px;
}
 
 #vbid-9c000-wg9x9wo7.master.item-box    {
	padding-top: 0px;
	min-height: 579px;
}
 
 #vbid-9c000-v60xaclw.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 607px;
}
 
 #vbid-9c000-ihvy7qap.master.item-box    {
	min-height: 51px;
}
 
 #vbid-9c000-nc4kjxfq.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 468px;
}
 
 #vbid-9c000-5usfotdy.master.item-box    {
	padding-top: 70px;
	padding-bottom: 80px;
} 
 #vbid-9c000-5usfotdy.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-9c000-2isldbv8.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 322px;
}
 
 #vbid-9c000-fgjyr3qw.master.item-box    {
	padding-top: 35px;
	padding-bottom: 20px;
	min-height: 202px;
} 
 #vbid-9c000-fgjyr3qw.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-9c000-9atprbon.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 449px;
}
 
 #vbid-a15c91f1-txqtkfiz.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 347px;
}
 
 #vbid-9c000-79x7lb3x.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-9c000-sqrrpwco.master.item-box    {
	padding-top: 0px;
	padding-bottom: 40px;
} 
 #vbid-9c000-sqrrpwco.item-box > .item-wrapper    {
	max-width: 1000px;
}

 
 #vbid-9c000-4gviumtd.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 114px;
} 
 #vbid-9c000-4gviumtd.item-box > .item-wrapper    {
	max-width: 1270px;
}
 
 #vbid-9c000-pjbdz7se.master.item-box    {
	padding-top: 0px;
	min-height: 579px;
}
 
 #vbid-9c000-t88i6mxy.master.item-box    {
	padding-top: 60px;
	padding-bottom: 60px;
} 
 #vbid-9c000-t88i6mxy.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-9c000-xlxcr5z7.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 114px;
} 
 #vbid-9c000-xlxcr5z7.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-9c000-h2v5lx6e.master.item-box    {
	padding-top: 70px;
	padding-bottom: 70px;
} 
 #vbid-9c000-h2v5lx6e.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-9c000-au1cja82.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 429px;
}
 
 #vbid-9c000-2whqik6v.master.item-box    {
	padding-top: 40px;
	padding-bottom: 30px;
	min-height: 202px;
} 
 #vbid-9c000-2whqik6v.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-f28268ba-ov6hkzns.master.item-box    {
	padding-top: 40px;
	padding-bottom: 30px;
	min-height: 202px;
} 
 #vbid-f28268ba-ov6hkzns.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-9c000-zbxlaa9o.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 305px;
}