/*CACHED*//******************************************************************************************************
 *            DYNAMIC STYLE FOR style-9c000-sarhaogc
 *                                 	 
 ******************************************************************************************************/
	 .style-9c000-kwvg5q4p .style-9c000-sarhaogc .title-holder  {
		
						text-align: center;	
		}
	 .style-9c000-kwvg5q4p .style-9c000-sarhaogc .Title  ,  .style-9c000-kwvg5q4p .style-9c000-sarhaogc .Body h1  { 
						color: #8a7373;
						font-size: 36px;
						font-family: open-sans;
						letter-spacing: 0.15em;
						font-weight: bold;	
		}
	 .style-9c000-kwvg5q4p .style-9c000-sarhaogc  .preview-content-holder  {
		
						margin-right: 0px;
						padding-bottom: 0px;
						text-align: left;
						max-width: 300px;
						padding-right: 0px;
						margin-top: 20px;
						margin-left: 0px;
						padding-top: 0px;
						margin-bottom: 20px;
						border-color: rgb(60, 60, 60);
						padding-left: 0px;	
		}
	 .style-9c000-kwvg5q4p .style-9c000-sarhaogc .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-9c000-kwvg5q4p .style-9c000-sarhaogc .preview-divider  {
		
						margin-bottom: 5px;
						margin-top: 5px;
						width: 10%;	
		}
	 .style-9c000-kwvg5q4p .style-9c000-sarhaogc #pagination-holder  {
		
						font-style: italic;
						font-size: 17px;
						font-family: 'Times New Roman';
						color: rgb(76, 76, 76);
						padding-bottom: 5px;
						border-color: rgb(85, 85, 85);
						padding-right: 15px;
						padding-left: 15px;
						padding-top: 5px;
						margin-bottom: 40px;
						border-width: 1px;	
		}
	 .style-9c000-kwvg5q4p .style-9c000-sarhaogc .background-div  {
			
		}
	 .style-9c000-kwvg5q4p .style-9c000-sarhaogc.master.item-box   {
		
						background-color: rgb(255, 255, 255);	
		}
	 .style-9c000-kwvg5q4p .style-9c000-sarhaogc .preview-title  ,  .style-9c000-kwvg5q4p .style-9c000-sarhaogc .preview-body h1  { 
						font-family: Montserrat;
						font-size: 12px;
						text-transform: uppercase;
						color: rgb(0, 0, 0);
						letter-spacing: -0.0em;
						margin-top: 0px;
						line-height: 1.2em;	
		}
	 .style-9c000-kwvg5q4p .style-9c000-sarhaogc.master.item-box   {
		
						padding-left: 6%;
						width: 88%;
						padding-right: 6%;	
		}
	 .style-9c000-kwvg5q4p .style-9c000-sarhaogc .preview-item-links span  ,  .style-9c000-kwvg5q4p .style-9c000-sarhaogc #sr-basket-widget *  { 
						font-family: Arial;
						font-size: 12px;
						color: rgb(99, 99, 99);
						padding-bottom: 10px;
						border-color: rgb(122, 122, 122);
						letter-spacing: 0.1em;
						padding-right: 15px;
						margin-top: 15px;
						padding-left: 15px;
						padding-top: 10px;
						margin-bottom: 30px;
						border-width: 1px;
						background-color: rgba(15, 43, 67, 0);	
		}
	 .style-9c000-kwvg5q4p .style-9c000-sarhaogc .blocks-preview-body  {
		
						margin-bottom: 10px;
						line-height: 1.5em;	
		}
	 .style-9c000-kwvg5q4p .style-9c000-sarhaogc .stripe-background  {
		
						margin-top: -10px;
						margin-left: -6%;	
		}
	 .style-9c000-kwvg5q4p .style-9c000-sarhaogc .preview-element.icon-source  {
		
						padding-top: 0px;
						margin-bottom: 0px;
						margin-top: 0px;
						width: 70px;	
		}
	 .style-9c000-kwvg5q4p .style-9c000-sarhaogc .blocks-preview-content-holder  {
		
						text-align: center;
						margin-top: 35px;	
		}
	 .style-9c000-kwvg5q4p .style-9c000-sarhaogc .Subtitle  ,  .style-9c000-kwvg5q4p .style-9c000-sarhaogc .Body h2  { 
						font-family: ralewaythin;
						font-size: 22px;	
		}
	 .style-9c000-kwvg5q4p .style-9c000-sarhaogc .blocks-preview-subtitle  {
		
						font-size: 20px;
						text-transform: uppercase;
						color: rgb(0, 0, 0);
						letter-spacing: 0.0em;
						margin-top: 10px;
						margin-bottom: 10px;
						font-family: Montserrat;	
		}
	 .style-9c000-kwvg5q4p .style-9c000-sarhaogc  .preview-content-wrapper  {
		
						text-align: left;
						vertical-align: top;	
		}
	 .style-9c000-kwvg5q4p .style-9c000-sarhaogc .preview-price  {
		
						font-family: Arial;	
		}
	 .style-9c000-kwvg5q4p .style-9c000-sarhaogc .preview-item-links span:hover  ,  .style-9c000-kwvg5q4p .style-9c000-sarhaogc .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-9c000-kwvg5q4p .style-9c000-sarhaogc .subtitle-holder  {
		
						text-align: center;	
		}
	 .style-9c000-kwvg5q4p .style-9c000-sarhaogc .blocks-preview-content-wrapper  {
		
						text-align: center;	
		}
	 .style-9c000-kwvg5q4p .style-9c000-sarhaogc .blocks-preview-title  {
		
						margin-bottom: 10px;
						font-family: 'Playfair Display';
						margin-top: 10px;
						font-size: 27px;	
		}
	 .style-9c000-kwvg5q4p .style-9c000-sarhaogc .preview-body  {
		
						line-height: 1.5em;
						font-size: 12px;
						color: rgb(60, 60, 60);
						max-width: 500px;
						margin-right: 0px;
						margin-top: 20px;
						margin-bottom: 10px;
						font-family: Arial;	
		}
	
	 .style-9c000-kwvg5q4p .style-9c000-sarhaogc .preview-subtitle  ,  .style-9c000-kwvg5q4p .style-9c000-sarhaogc .preview-body h2  { 
						font-family: Montserrat;
						font-size: 12px;
						color: rgb(60, 60, 60);
						letter-spacing: 0.35em;
						margin-right: 0px;
						margin-top: 5px;
						margin-left: 0px;
						line-height: 1.4em;	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
