/*CACHED*//******************************************************************************************************
 *            DYNAMIC STYLE FOR style-9c000-2aheyvr8
 *                                 	 
 ******************************************************************************************************/
	 .style-9c000-kwvg5q4p .style-9c000-2aheyvr8  .preview-content-holder  {
		
						margin-right: 0px;
						padding-bottom: 0px;
						text-align: left;
						max-width: 600px;
						padding-right: 0px;
						margin-top: 30px;
						margin-left: 0px;
						padding-top: 0px;
						margin-bottom: 30px;
						background-color: rgba(230, 210, 80, 0);
						padding-left: 0px;	
		}
	 .style-9c000-kwvg5q4p .style-9c000-2aheyvr8 .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-9c000-kwvg5q4p .style-9c000-2aheyvr8 .preview-divider  {
		
						border-style: solid;
						border-color: rgb(255, 255, 255);
						border-bottom-width: 1px;
						margin-top: 10px;
						margin-bottom: 10px;
						width: 15%;	
		}
	 .style-9c000-kwvg5q4p .style-9c000-2aheyvr8 .inner-pic  {
		
						opacity: 0.46;
						color: rgb(255, 255, 255);
		    			-webkit-filter: grayscale(100%) brightness(0.6);	
		}
	 .style-9c000-kwvg5q4p .style-9c000-2aheyvr8 .preview-subtitle-holder  {
		
						max-width: 650px;	
		}
	 .style-9c000-kwvg5q4p .style-9c000-2aheyvr8 .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;	
		}
	 .style-9c000-kwvg5q4p .style-9c000-2aheyvr8 .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						width: 88%;
						padding-right: 6%;	
		}
	 .style-9c000-kwvg5q4p .style-9c000-2aheyvr8 .background-div  {
			
		}
	 .style-9c000-kwvg5q4p .style-9c000-2aheyvr8.master.item-box   {
		
						background-color: rgb(0, 0, 0);	
		}
	 .style-9c000-kwvg5q4p .style-9c000-2aheyvr8 .preview-title  ,  .style-9c000-kwvg5q4p .style-9c000-2aheyvr8 .preview-body h1  { 
						line-height: 1.1em;
						font-size: 34px;
						text-transform: uppercase;
						color: rgb(255, 255, 255);
						letter-spacing: 0.0em;
						margin-top: 10px;
						margin-bottom: 10px;
						font-family: 'Playfair Display';
						background-color: rgba(255, 255, 255, 0);	
		}
	 .style-9c000-kwvg5q4p .style-9c000-2aheyvr8 .preview-item-links span  ,  .style-9c000-kwvg5q4p .style-9c000-2aheyvr8 #sr-basket-widget *  { 
						border-width: 0px;
						font-size: 10px;
						text-transform: uppercase;
						color: rgb(255, 255, 255);
						padding-bottom: 15px;
						border-color: rgba(0, 0, 0, 0);
						letter-spacing: 0.1em;
						margin-right: 5px;
						margin-top: 15px;
						padding-left: 20px;
						border-radius: 22px;
						padding-top: 15px;
						margin-bottom: 15px;
						font-family: Arial;
						background-color: rgb(125, 34, 34);
						padding-right: 20px;
						margin-left: 5px;	
		}
	 .style-9c000-kwvg5q4p .style-9c000-2aheyvr8 .stripe-background  {
		
						opacity: 0.61;	
		}
	 .style-9c000-kwvg5q4p .style-9c000-2aheyvr8 .preview-element.icon-source  {
		
						margin-bottom: 15px;
						width: 70px;	
		}
	 .style-9c000-kwvg5q4p .style-9c000-2aheyvr8 .background-image-div  {
		
						color: rgb(255, 255, 255);
						opacity: 1;	
		}
	 .style-9c000-kwvg5q4p .style-9c000-2aheyvr8 .preview-link-img  {
		
						width: 35px;
						margin: 8px;	
		}
	 .style-9c000-kwvg5q4p .style-9c000-2aheyvr8 .preview-icon-holder  {
		
						margin-bottom: 40px;	
		}
	 .style-9c000-kwvg5q4p .style-9c000-2aheyvr8 .preview-body-holder  {
		
						max-width: 800px;	
		}
	 .style-9c000-kwvg5q4p .style-9c000-2aheyvr8  .preview-content-wrapper  {
		
						text-align: left;
						vertical-align: middle;	
		}
	 .style-9c000-kwvg5q4p .style-9c000-2aheyvr8 .preview-item-links span:hover  ,  .style-9c000-kwvg5q4p .style-9c000-2aheyvr8 .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						background-color: rgb(0, 0, 0);	
		}
	 .style-9c000-kwvg5q4p .style-9c000-2aheyvr8 .inner-pic-holder  {
		
						background-color: rgb(0, 0, 0);	
		}
	 .style-9c000-kwvg5q4p .style-9c000-2aheyvr8 .preview-item-links span:before  ,  .style-9c000-kwvg5q4p .style-9c000-2aheyvr8 .effect-tester  { 
						background-color: rgb(0, 0, 0);	
		}
	 .style-9c000-kwvg5q4p .style-9c000-2aheyvr8 .preview-body  {
		
						line-height: 1.6em;
						font-size: 14px;
						color: rgb(230, 230, 230);
						max-width: 1000px;
						margin-top: 10px;
						margin-bottom: 30px;
						font-family: Arial;	
		}
	
	 .style-9c000-kwvg5q4p .style-9c000-2aheyvr8 .preview-social-holder  {
		
						margin-bottom: 10px;
						margin-top: 10px;	
		}
	 .style-9c000-kwvg5q4p .style-9c000-2aheyvr8 .middle_layout .helper-div  ,  .style-9c000-kwvg5q4p .style-9c000-2aheyvr8 .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;	
		}
	 .style-9c000-kwvg5q4p .style-9c000-2aheyvr8 .preview-subtitle  ,  .style-9c000-kwvg5q4p .style-9c000-2aheyvr8 .preview-body h2  { 
						font-family: Abel;
						font-size: 14px;
						text-transform: uppercase;
						color: rgb(255, 255, 255);
						letter-spacing: 0.2em;
						margin-right: 0px;
						margin-top: 5px;
						margin-left: 0px;
						margin-bottom: 10px;
						line-height: 1.4em;	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-9c000-2aheyvr8 #vbid-9c000-w1va3ilq .preview-content-holder{
				
							text-align : center;
					
				} .style-9c000-2aheyvr8 #vbid-9c000-zzjawxmt .preview-content-holder{
				
							text-align : left;
					
				}


 .style-9c000-2aheyvr8 #vbid-9c000-o0bxgxvp.inner-pic{
				
							background-position : 51.7764% 40.3226%;
					
				} .style-9c000-2aheyvr8 #vbid-9c000-y2gbm3uz.inner-pic{
				
							background-position : 48.2968368530273% 17.8304233551025%;
					
				} .style-9c000-2aheyvr8 #vbid-9c000-svtegxq0.inner-pic{
				
							background-size : cover;
					
							background-position : 29% 19%;
					
				} .style-9c000-2aheyvr8 #vbid-9c000-y2ioi29r.inner-pic{
				
							background-position : 40.6865% 31.5728%;
					
				} .style-9c000-2aheyvr8 #vbid-9c000-8fbymw5h.inner-pic{
				
							background-size : contain;
					
							background-position : 50% 50%;
					
				} .style-9c000-2aheyvr8 #vbid-9c000-wdgghkfh.inner-pic{
				
							background-position : 47.0449% 12.9383%;
					
				} .style-9c000-2aheyvr8 #vbid-9c000-4rgvy9ug.inner-pic{
				
							background-size : 143%;
					
				} .style-9c000-2aheyvr8 #vbid-9c000-ebdga9gg.inner-pic{
				
							background-size : cover;
					
							background-position : 31.5622% 47.7852%;
					
				}













 .style-9c000-2aheyvr8 #vbid-9c000-w1va3ilq .preview-content-wrapper{
				
							text-align : center;
					
				} .style-9c000-2aheyvr8 #vbid-9c000-zzjawxmt .preview-content-wrapper{
				
							text-align : left;
					
				}











/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
